body{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5 )),url(image.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	
}

.formm{
	left:50%;
	top:70%;
	transform: translateX(-50%) translateY(-50%);
	position :absolute;
	width : 100%;
}
.srch{
	position:absolute;
	left:55%;
	top:30%;
	transform: translateX(-50%) translateY(-50%);
	padding:10px;
	max-width: 450px;
	width:100%;
	text-align: center;
	border-radius: 5px;
	display: flex;
	
	
}


.b{
	border:none;
	outline:none;
	left:60%;
	padding: 11px 15px;
	top:45%;
	transform: translateX(-50%) translateY(-50%);
	background:rgba(255,102,0,0.5);
	color:whitesmoke;
	font-size:14px;
	border-radius:20px;
	position: absolute;
}
.b2{
	border:whitesmoke 2px;
	outline:none;
	left:50%;
	padding: 10px 30px;
	top:40%;
	transform: translateX(-50%) translateY(-50%);
	background:rgba(255,102,0,0.5);
	color:whitesmoke;
	font-size:20px;
	border-radius:20px;
	position: absolute;;
}
.form-control{
	width:100%;
	padding : 8px 20px;
	font-weight: bold;
	border-radius: 5px;
	position: relative;

}
.table{
		position:absolute;
		width : 60%;
		top:60%;
		left:50%;
		transform:translate(-50%,-50%);
		font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th,td{
padding :10px;
text-align:center;
}
td{
color:white;
border-bottom: orangered;
}
tr{
	background-color: rgb(39, 9, 0);
	background-opacity:
}
tr:hover{
	background-color: rgb(5, 35, 39);
}
.nobooks{
	color:white;
	left:50%;
	top:50%;
	font-size:24px;
	font-family:open sans;
	
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	font-weight: bold;
	

}
h2{
	color:white;
	position:absolute;
	left:50%;
	top:15%;
	font-size:30px;
	font-family:open sans;
	margin:auto;
	transform: translateX(-50%) translateY(-50%);
}

