body{
	margin:0px;
	padding:0px;
	background: url(image.JPG);
	background-size:cover;
	background-position:center;
	font-family:arial;
	box-sizing:border-box;
}
.card{
	width:300px;
	height:440px;
	background:rgba(0,0,0,0.5);
	border-radius:6px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	box-shadow:0px 1px 10px 1px #000;
	overflow:hidden;
	display:inline-block;
}
.upper{
	height:150px;
	background:rgba(225,102,0,0.5);
}
.image{
	background:#fff;
	width:80px;
	height:80px;
	border-radius:50%;
	transform:translate(110px,75px);
	position:absolute;
}
.image img{
	width:80px;
	height:80px;
	border-radius:50%;
}
.lower{
	height:280px;
	background:rgba(12, 10, 10, 0.5);
	padding-top:40px;
	text-align:center;
}
.lower h3{
	color:#fff;
	top:40%;
	position: absolute;
	transform:translate(-50%,-50%);
	left:50%;
}
.info {
	color:whitesmoke;
	width:100%;
}
.info p{
	margin-top: 10px;
	height:20px;
	margin-left: 30px;
	text-align: left;
	color:#ff6600;
	
}
.info button{
	width:40%;
	border:2px solid #ff6600;
	border-radius:4px;
	display:block;
	background-color:rgba(255,102,0,0.5);
	color:#fff;
	top:85%;
	left:50%;
	cursor:pointer;
	padding:8px;
	position:absolute;
	transform:translate(-50%,-50%);
}
.username{

	transform:translate(0%,0%);
	position: relative;
	text-align: left;
	margin-left: 30px;

}
.email{
	text-align: left;
	transform:translate(0%,0%);
	position: relative;
	margin-left: 30px;

}
.phone{
	text-align: left;
	transform:translate(0%,0%);
	position: relative;
	margin-left: 30px;

}